body {
    font-family: 'Poppins'sans-serif;
    margin: 0;
    padding: 0;
   top: 0;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   color: #3D626D;
   background-color: #e2e2e2;
  
}

nav {
    background-color: #212c30;
    text-align: right;
    padding-right: 30px;
    padding-top: 10px;
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
}


nav a {
    color: rgb(196, 196, 196);
    text-decoration: none;
    display: inline-block;
    padding-inline: 15px;
    z-index: 999;
}

nav a:hover {
    
    color: #ffc9c9;
    opacity: 0.3;
    border-radius: 5%;
}
#PersonaM4 {
    float: left; 
    color: rgb(163, 115, 115);
    padding: 0px 32px 0px 20px; 
    font-size: 20px;
    cursor: pointer;
}
#PersonaM4 :hover {
    color: rgb(182, 182, 182);
}


.buy-now-button {
    background-color: #d4d4d4;
    color: rgb(52, 49, 61);
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.buy-now-button:hover {
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1.1);
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(116, 116, 116);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.856);
    z-index: 999;
    border-radius: 20px;
}

.dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
}

.dropdown-content li {
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content-container {
    position: absolute;
    top: 20px;
    left: 10px;
    color: rgb(2, 71, 104);
    z-index: 2;
    margin-left: 100px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    max-width: 100% auto;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100% auto;
    margin: 7rem auto;
    background-color: #cbcecf;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .profile-image {
    float: right;
    max-width: 300px;
    max-height: 300px;
    margin: 20px;
    border-radius: 50%;
  }
  .profile-info {
    padding: 20px;
  }
  .profile-info p {
        color: #666;
        line-height: 1.6;
        display: flex;
        align-items: center;
  }
  .profile-info i {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #423f55;
  }


h1, h4 {
    margin: 0;
}

img {
    display: flex;
   width: 100%;
   mask-repeat: no-repeat;
   background-size: cover;
   object-fit: cover;
   height: 90%;
}

#icons {
    display: flex;
    justify-content: space-around;
    margin: 80px;
    padding: 20px;
    font-size: 100px;
    color: #6b3312;
   
}
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.text-icon {
    font-size: 30px;
    line-height: 100px;
}
#about-me {
    display: flex;
    flex: 1;
    color: #3D626D;
  
}
#about-me div {
    display: flex;
    flex: 1;
    margin: 20px;
    
}
#about-me-h1 {
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    flex-direction: column;
}  
#about-me div p {
    font-size: 20px;
    line-height: 30px;
} 
#about-me-desc {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}  
#about-me-desc div button {
    background-color: #0089b3;
    color: rgb(197, 197, 197);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-style: solid;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
 }

#about-me-desc div button:hover {
    background-color: #394879;
    transform: scale(1.1);
}

.idea-skills {
    display: flex;
    background-color: #949494;
    padding: 80px 120px;
    justify-content: space-around;
    color: #423d3d;
}
.idea img, .skills img{
    width: 500px;
    height: 500px;
    background-size: cover;
    border-radius: 10%;
}
.idea h1, .skills h1 {
    font-size: 50px;
    margin-top: 30px;
    
}
.idea p, .skills p {
    font-size: 20px;
    width: 500px;
    line-height: 35px;
}
.idea-skills div button {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    color: #00495f;
    font-family: 'Times New Roman', Times, serif;
}
.idea-skills div button:hover {
    border-bottom: 2px solid #ff0000;
    
}
*, *::before, *::after {
    box-sizing: border-box;
    
}

.progress-container {
    display: flex;
    padding: 80px 120px;
    justify-content: space-around;
}

.progress-bars, .experience {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 50px;
    padding: 50px 50px;
    line-height: 30px;
    font-size: 20px;
}
.experience h1 {
    font-size: 50px;
    line-height: 90px;
    top: 20px;
}


.progress-bar1 {
    width: 500px;
    height: 2.5em;
    background-color: #616161;
    border-radius: 1.5rem;
    margin-bottom: 40px;
    color: rgb(22, 15, 48);
    position: relative;
}
.progress-bar1::before {
    display: flex;
    content: attr(data-label);
    position: absolute;
    left: .5em;
    bottom: .5em;
    
    width: 92%;
    min-width: 2rem;
    max-width: calc(100% - 1rem);
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
}
.progress-bar2 {
    width: 500px;
    height: 2.5em;
    background-color: #616161;
    border-radius: 1.5rem;
    margin-bottom: 40px;
    color: rgb(22, 15, 48);
    position: relative;
}
.progress-bar2::before {
    display: flex;
    content: attr(data-label);
    position: absolute;
    left: .5em;
    bottom: .5em;
    
    width: 71%;
    min-width: 2rem;
    max-width: calc(100% - 1rem);
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
}
.progress-bar3 {
    width: 500px;
    height: 2.5em;
    background-color: #616161;
    border-radius: 1.5rem;
    margin-bottom: 40px;
    color: rgb(22, 15, 48);
    position: relative;
    
}
.progress-bar3::before {
    display: flex;
    content: attr(data-label);
    position: absolute;
    left: .5em;
    bottom: .5em;
    
    width: 53%;
    min-width: 2rem;
    max-width: calc(100% - 1rem);
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
}
.my-info {
    display: flex;
    background-color: #e9e7e7;
    padding: 80px 120px;
}
.my-info-text {
    display: flex;
    flex: 1;
    padding: 0px 120px;
    justify-content: space-around;
    flex-direction: column;
}
.my-info-img img{
    display: flex;
    width: 500px;
    height: 500px;
    background-size: cover;
    display: flex;
    flex: 1;
    border-radius: 20%;
}
.my-info-text h1 {
    font-size: 50px;
    
}
.my-info-text p {
    display: flex;
    font-size: 20px;
    line-height: 30px;
    
}

.info {
    display: flex;
}

.info i {
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 20px;
}
.work-art {
    display: flex;
    flex: 1;
    padding: 80px 120px;
    justify-content: space-around;
    
}
.work-art-icons {
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin: 40px;
    padding: 20px;
    font-size: 80px;
    color: #253e46;
}
.work-art-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.work-art-me h1 {
    font-size: 50px;
    margin-top: 30px;
}
.work-art-me {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.work-art-me p {
    font-size: 20px;
    line-height: 35px;
    color: #aaaaaa;
}
.photos-me {
    display: flex;
    flex-direction: row;
}
.photo-me {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 500px;
    height: 650px;
    padding: 30px;
    background-size: cover;
    background-color: #aaaaaa;
}
.photo-me img {
    border-radius: 20%;
}

#personam4-container:hover {
    color: rgb(95, 92, 119) ;
}

.counter-wrapper {
    background: url(./TMBB__2_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10rem 10%;
    position: relative;
}

.counter-wrapper::before {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.counter {
    text-align: center;
    color: rgb(142, 247, 255);
    z-index: 2;
    position: relative;
}

.counter::before {
    position: absolute;
    content: ' ';
    bottom: -2rem;
    left: 50%;
    width: 20%;
    height: .2rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%)
}

.counter, .count {
    font-size: 3rem;
    margin-bottom: 1rem;

}

.counter p {
    font-size: 2.4rem;
}

.section {
    display: flex;
    padding: 3rem;
}

.tabs {
    margin-right: 2rem;
}

.tabs a {
    position: relative;
    text-decoration: none;
    font-size: 30px;
    color: #3D626D;
    letter-spacing: 0px;
    padding: 0 5px;
 
}

.tabs a::after {
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.tabs a:hover::after {
    width: 100%;
}

.text-content {
    display: flex;
    padding: 50px;
    padding-right: 20rem;
    padding-top: 0;
}

.text-content p {
    display: flex;
    flex: 1;
    font-size: 25px;
    margin: 0;
    color: #777777;
    line-height: 35px;
    padding-right: 6rem;
}

.management-me {
    display: flex;
    flex-direction: row;
    background-color: #afafaf;
}

.photo-i {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    width: 500px;
    height: 500px;
    padding: 60px;
    padding-top: 70px;
    background-size: cover;
    
}
.photo-i img {
    border-radius: 50%;
    
    size: 2rem;
   
}

.photo-i i {
    position: absolute;
    margin: 10px 10px;
    font-size: 2rem;
    border-radius: 50%;
    padding: 30px 30px;
    background-color: #e4e4e4;
    box-shadow:
    0.2px 0.3px 1.2px rgba(0, 0, 0, 0.072),
    0.4px 0.6px 2.7px rgba(0, 0, 0, 0.105),
    0.7px 1px 4.6px rgba(0, 0, 0, 0.13),
    1px 1.5px 6.9px rgba(0, 0, 0, 0.151),
    1.5px 2.1px 10px rgba(0, 0, 0, 0.17),
    2.1px 3px 14.2px rgba(0, 0, 0, 0.189),
    3px 4.3px 20.1px rgba(0, 0, 0, 0.21),
    4.4px 6.2px 29.2px rgba(0, 0, 0, 0.235),
    6.8px 9.6px 45px rgba(0, 0, 0, 0.268),
    12px 17px 80px rgba(0, 0, 0, 0.34)
    ;
    
}

.three-text-container {
    display: flex;
    justify-content: center;
    
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color: #afafaf;
  }

  .three-text {
    text-align: center;
  }

  .three-text h1 {
    font-size: 3rem;
  }

  .three-text p {
    font-size: 1.5rem;
    padding-inline: 60px;
    line-height: 40px;
    color: #575757;
  }

.client {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 10px;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #501f27;
    
}

.clients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
   
}

.clients img {
    width: 300px;
    height: 300px;
    padding: 60px 60px;
    border-radius: 30%;
   
   
}

.client1 {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #501f27;
}

.clients1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
   
}

.clients1 img {
    width: 300px;
    height: 300px;
    padding: 60px 60px;
    border-radius: 30%;
   
}

.clientsh {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 5rem;
    line-height: 5rem;
    color: rgb(56, 24, 24);
    background-color: #885252;
}

#carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    max-width: 1200px;
    font-size: 30px;
    padding-top: 30px;
    margin: 0 auto;
}

#carousel div {
    background: #43878b;
    padding: 50px;
    border-radius: 20px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#carousel p {
    text-align: center;
    color: #d4d4d4;
}
#carousel h5 {
    text-align: center;
    color: #a2b1ce;
    text-decoration: underline;
    cursor: pointer;
}
#carousel img {
    height: 150px;
}
#carousel div :hover {
    color: #83d8d1;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1.1);
}
#text-box {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-decoration: none;
    box-sizing: border-box;

}

#text-box p {
    font-size: 3rem;
    text-align: center;
}

#text-box input {
    width: 100%; 
    height: 20px;
    padding: 20px; 
    padding-bottom: 300px;
    border-radius: 20px;
    background-color: #aeb0b1;
    font-size: 20px;

}
#another {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.another-one, .another-two {
    padding-inline: 10px;
    width: 390px;
    
    
}

.another-one input, .another-two input {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #aeb0b1;
    font-size: 20px;
}
  
  #submit-button {
    display: flex;
    padding-left: 290px;
    padding-top: 10px;
    padding-bottom: 2rem;
  }
  .button2 {
    background-color: rgb(207, 204, 204); 
    color: black; 
    border: transparent;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

footer {
    display: flex;
    background-color: #333;
    color: #fff;
    justify-content: center;
    text-align: center;
    padding: 40px;
    bottom: 0;
    width: 100% auto;
  }






    
    
